@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway|Playfair+Display');

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px,
  xxxl: 2560px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1620px,
  xxxl: 2060px,
);


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base: EB Garamond, $font-family-sans-serif;
$headings-font-family: Playfair Display, $font-family-base;
$font-size-base: 125%;
$hr-border-color: rgba(#000, .3);
$hr-border-width: 1px;

$navbar-dark-color:                 rgba($white, .9);
$navbar-dark-hover-color:           rgba($white, 1);
$navbar-dark-disabled-color:        rgba($white, .9);
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-dark-toggler-border-color:  rgba($white, .9);



// Shared CSS properties

// Zero margin and padding
%no-margin-padding {
	margin: 0 !important;
    padding: 0 !important;
}

// Scale and center a background image
%image-scale {
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

%align-center {
	justify-content: center;
	align-items: center;
}


// Mixins

// Create div for background image based on given height
@mixin scale-height($property) {
	min-height: $property !important;
	min-width: 100vw !important;
	height: auto !important;
	width: auto !important;
}

// Global applying CSS

.custom-raleway {
	font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.test-test {
	@extend %image-scale;
}


.container-fluid{
	@extend %no-margin-padding;
}

// Set spacing after each row in the grid 
.row {
	@extend %no-margin-padding;
	margin-bottom: 3rem !important;	
}

// Remove spacing from last item in a row
.row > * > :first-child {
	margin-top: 0 !important;
}

.row > * > :last-child {
	margin-bottom: 0 !important;
}

// Remove column margins and paddings
.col {
	@extend %no-margin-padding;
}

hr {
	@extend %no-margin-padding; 
}


// CSS related to 3 types of cards: overlay, vertical and horizontal
.aspect-ratio-box {
	position: relative;
}

.aspect-ratio-box::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 70%;
}
.aspect-ratio-box::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.aspect-ratio-box img {
	width: 100%;
	height: 100%;
	max-width: none;
	position: absolute;
	top: 0;
}

.aspect-ratio-box-inside {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: stretch;
	position: absolute;
	width: 100%;
	height: 100%;
}

.aspect-ratio-box-inside > .text-box {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	margin: 3rem;
	background-color: rgba(245,245,245, .9);
}

// CSS for the banner. 

// Container for the banner. 
// Initial Width and height are decided inline using min-width and min-height
.banner{
	display: flex;
	@extend %no-margin-padding;
	@extend %align-center;
	position: relative;
	width: auto; 
	height: auto;
}

// Set CSS for image tag within banner container 
// Position absolute so we can put text over it
// object-fit cover to scale/zoom picture correctly
// height/width to 100% to fit container
// z-index -1 to stay behind all items
.banner  img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -5;
} 

// Set CSS for the textbox and it's colored background
.banner > .text-box {
	display: inline-block;
	padding: 2rem;
	background-color: rgba(211,211,211,.55);
}

// Set no margin/padding and align content center in text box 
.banner > .text-box > .row{
	@extend %no-margin-padding;
	@extend %align-center;
}


// Carousel CSS

// Set Carousel to full width, and full viewpoint height
// also set height/width to auto so it doesn't scale smaller than content
.carousel-item, .carousel-inner {
	min-height: 100vh !important;
	min-width: 100% !important;
	height: auto !important;
	width: auto !important;
}

// Top navigation bar 

.top-navbar {
	z-index: $zindex-fixed;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.top-navbar .container {
	width:100% !important;
}

// Set background color
.top-navbar .navbar {
	@extend %no-margin-padding;
    background-color: rgba(0,0,0,1);
}

// Set no margins for everything but dropdown menus
.top-navbar .navbar-brand,.navbar-nav, .nav-link {
	@extend %no-margin-padding;
}

// Use flex, and assign to type 1. This allows each part of navbar to be same space.
// text-align center aligns each item to be centered in the space. 
.top-navbar .navbar,.navbar-brand,.navbar-nav,.nav-link,.dropdown-toggle, .dropdown{
	display: flex;
	flex: 1;
	text-align: center;
}

.top-navbar .small-icon {
	padding: .1rem .2rem;
	margin: .5rem;
}

.top-navbar  .large-icon {
	margin: .5rem;
}

// Left side navigation bar related CSS

// Remove margins for navbar
.sidebar > .navbar {
	@extend %no-margin-padding;
}

// Apply custom margins for each icon
.sidebar svg{
	margin: .5rem;
	padding: 0;
}

// Left side navigation bar related CSS.
.sidebar {
	position: fixed !important;
	top: 50% !important;
	-webkit-transform: translateY(-50%) !important;
	-ms-transform: translateY(-50%) !important;
	transform: translateY(-50%) !important;
	z-index: $zindex-fixed;
}

// Container that holds blog post. Used to apply settings 
// to all blog post pages.
.blog-post{
	@extend %no-margin-padding;
}

.blog-post > .row {
	justify-content: center;
}


.gatsby-img-outter {
	position:absolute !important;
	width:100%;
	height:100%;
} 
.gatsby-img {
	position:absolute !important; 
	width:100%;
	height:100%;
}

// Scrolling banner
.test123 {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    left: calc(-50vw + 50%);
    position: relative;
    width: 100%;
}
@import "bootstrap/bootstrap";
